.container {
	display: grid;

	grid-template-columns: 1fr 1fr 600px;
	/* grid-template-columns: 1fr 1fr 1fr */
	/* grid-template-columns: repeat(3, 1fr) */
	/* grid-template-columns: 200px 1fr */
	/* grid-template-columns: 100px 200px auto */

	grid-template-rows: 100px 500px 300px;
	/* grid-template-rows: repeat(3, 1fr) */
	/* grid-template-rows: 200px 1fr */
	/* grid-template-rows: 100px 200px auto */
	grid-template-areas:
		"header header header"
		"main    main    mapinfo"
		"main    main	tourlist";
}

.header{
	grid-area: header;
}

.main{
	grid-area: main;
	padding:0 50px 0 0;
}

.label{
	text-align:center;
}

.mapinfo{
	grid-area: mapinfo;
}

.tourlist{
	grid-area: tourlist;
}

.RecommandedSite{
	list-style: none;
	/* border: 1px solid black; */
}

.RecommandedSite .sitename{
	text-align: center;
	position: relative;
}
.menubar{
	
	margin: 0;
	padding: 0;
	padding-left: 20px;
  }
  ul {
	background: #fff;
	margin: 40px;
	position: relative;
	overflow: hidden;
  }
  ul li {
	list-style: none;
	text-transform: uppercase;
	float: left;
	margin: 0 10px;
	padding: 0 5px 5px;
  }
  ul li a {
	color: #000;
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
	display: inline-block;
  }
  .menuUnderline {
	background-color: #000;
	position: absolute;
	height: 3px;
	left: 0;
	bottom: 0;
  }
