<!DOCTYPE html>

<html>
    <head>
            <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="./main__css/main__info.css">
        <link rel="stylesheet", type="text/css" href="./main__css/main_image.css">
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

            <title>메인 페이지</title>
    </head>
    <body id="main__body">
        
        <div id="wrap">
            <main>
                <section>
                    <article>
                        <h2>asdasdasd</h2>
                        <p>This is iptsome descrion text for this panel.</p>
                    </article>
                </section>
                <section>
                    <article>
                        <h2>생태 관광</h2>
                        <p>아름다운 자연과 즐거운 체험이 있는 생태테마여행</p>
                    </article>
                </section>
                <section>
                    <article>
                        <h2>전통한옥</h2>
                        <p>한국 고유의 전통문화를 체험할 수 있는 한옥 숙박시설</p>
                    </article>
                </section>
                <section>
                    <article>
                        <h2>가치 있는 여행</h2>
                        <p>일탈, 휴식, 재미, 누군가에겐 의미를 더하는 여행</p>
                    </article>
                </section>
                <section>
                    <article>
                        <h2>Panel Title</h2>
                        <p>This is iptsome descrion text for this panel.</p>
                    </article>
                </section>
            </main>
        </div>


        
        <div class="info">
            <img src="./main_img/우주공감.png">
            <h1 class="service_name">서비스 이름</h1>
            <h>
                서비스 설명
            </h>
        </div>



        <div class="input">
            <div class="input_group">
                <!-- <h1 class=label>지역선택(도 단위, 예: 강원도)</h1> -->
                <div class="wrap">
                    <link rel="stylesheet" href="./main__css/paldo_select.css">
                    <select class="selectbox" id="type__paldo">
                        <option>지역 선택</option>
                        <option value="경기도">경기</option>
                        <option value="">경북</option>
                        <option value="">경남</option>
                        <option value="">광주</option>
                        <option value="">대전</option>
                        <option value="">부산</option>
                        <option value="">서울</option>
                        <option value="">인천</option>
                        <option value="">전북</option>
                        <option value="">전남</option>
                        <option value="">제주</option>
                    </select>
                </div>
            </div>
                <!-- <h1 class=label>지역선택(도 단위, 예: 강원도)</h1> -->
            <div class="wrap">
                <link rel="stylesheet" href="./main__css/paldo_select.css">
                <select class="selectbox" id="type__people">
                    <option>동반유형 선택</option>
                    <option value="">나홀로</option>
                    <option value="">가족</option>
                    <option value="">친구</option>
                    <option value="">연인</option>
                    <option value="">반려견 동반</option>
                </select>
            </div>
        </div>

        <div class="input_group">
            <h1 class=label>가치 선택하기</h1>    
            <form class="frame" method="get" action="form-action.html">
                <label><input type="checkbox" name="region" value="경기도">자연/경치</label>
                <label><input type="checkbox" name="region" value="경상북도">체험/학습</label>
                <label><input type="checkbox" name="region" value="경상남도">휴식/힐링</label>
                <label><input type="checkbox" name="region" value="광주">미식</label>
                <label><input type="checkbox" name="region" value="대전">레저</label>
                <label><input type="checkbox" name="region" value="부산">드라이브</label>
                <label><input type="checkbox" name="region" value="서울">사진/영상</label>
                <label><input type="checkbox" name="region" value="인천">여유로운</label>
                <label><input type="checkbox" name="region" value="전라북도">활기찬</label>
                <label><input type="checkbox" name="region" value="전라남도">힐링</label>
                <label><input type="checkbox" name="region" value="제주도">낭만적인</label>
                <p class="bottom"><input type="reset" value="Reset"></p>    
            </form>
        </div>



        <div class="bottom">
            <form action="../infopage/infopage.html">
                <input type="submit" value="결과보기" onclick=test() style="width:300px" class="btn btn-secondary btn-lg">
            </form>
        </div>    
    </body>
</html>