<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="my-data" data-name="{{data}}" data-other="{{data}}">
    <meta id="my-score" data-name="{{results}}" data-other="{{results}}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{url_for('static', filename='js/map.js')}}"></script>
    <script src="{{url_for('static', filename='js/menubar.js')}}"></script>
    <script src="{{url_for('static', filename='js/description.js')}}"></script>
    <script src="{{url_for('static', filename='js/getUserParams.js')}}"></script>
    <script src="{{url_for('static', filename='js/get_score.js')}}"></script>
    <script src="{{url_for('static', filename='js/get_recommend.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='infopage_css/infopage.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='infopage_css/recommend_info.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='infopage_css/menubar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='infopage_css/filter.css')}}">
    <title>우주공감</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="height: auto;">
        <div class="header">
            <span class="menubar">
                <ul style="margin:25ppx;">
                    <li><a href="{{ url_for('index') }}" class="home">home</a></li>
                    <li><a href="#" class="about">about</a></li>
                    <li><a href="#" class="contact">contact</a></li>
                    <div class="menuUnderline"></div>
                </ul>
            </span>
        </div>
        <div class="main">
            <ul>
                <div style="text-align:center">
                  <h1 id="hotel-name" style="text-align: center;font-weight:bold">{{results[0].name.split('[')[0]}}</h1>
                  <h id="hotel-summary" style="font-size:20px">{{results[0].summary}}</h>
                </div>

                <div class="label" style="position: relative; top: 30px;">
                <div>
                    <img id="hotel-img" width="500" height="300" target="_blank" src="{{results[0].src}}"/>
                    <br>
                    
                </div>

                <br>
                
                <h style=font-weight:bold>주소: </h><h id="hotel-addr">{{results[0].address}}</h><br>
                <h style=font-weight:bold>전화번호 </h><h id="hotel-num">{{results[0].phoneNumber}}</h>
                <!-- <h style=font-weight:bold>대한민국 구석구석 페이지 이동 </h><a id="hotel-url" target="_blank">click!</a><br> -->
                  
                <p style="position: relative; top: 30px;">
                    <h id="hotel-info">{{results[0].info}}</h>
                  <br>
                </p>
                <!-- <h style=font-weight:bold><br><br>친환경적 요소</h>
                    <br><br>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" >
                  <div class="btn-group mr-2" role="group" aria-label="First group" style="position:absloute; left:138px">
                    <button id="a1" type="button" style=background-color:rgb(160,208,151) class="btn btn-secondary"><h style=font-size:14px>풍력</h></button>
                    <button id="a2" type="button" style=background-color:white class="btn btn-secondary"><h style=font-size:14px;color:rgb(160,208,151)>태양열</h></button>
                    <button id="a3" type="button" style=background-color:white class="btn btn-secondary"><h style=font-size:14px;color:rgb(160,208,151)>어메니티</h></button>
                    <button id="a4" type="button" style=background-color:white class="btn btn-secondary"><h style=font-size:14px;color:rgb(160,208,151)>일회용기 미사용</h></button>
                  </div>
                </div> -->
                <br>
                <h style=font-weight:bold>열린 관광 요소</h><br><br>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2" role="group" aria-label="First group" style="position:absloute;">
                    <button id="b1" type="button" style=background-color:white class="btn btn-secondary"><h id="bb1" style='font-size:14px;color:rgb(157,186,209)'>장애인 화장실</h></button>
                      <button id="b2" type="button" style=background-color:white class="btn btn-secondary"><h id="bb2" style=font-size:14px;color:rgb(157,186,209)>장애인용 엘리베이터</h></button>
                      <button id="b3" type="button" style=background-color:white class="btn btn-secondary"><h id="bb3" style=font-size:14px;color:rgb(157,186,209)>장애인 전용 주차구역</h></button>
                      <button id="b4" type="button" style=background-color:white class="btn btn-secondary"><h id="bb4" style=font-size:14px;color:rgb(157,186,209)>주출입구 단차없음</h></button>
                    </div>
                  </div>
                  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group" style="position:absloute; left:30px">
                      <button id="b5" type="button" style=background-color:white class="btn btn-secondary"><h id="bb5" style=font-size:14px;color:rgb(157,186,209)>지하철 접근가능</h></button>
                      <button id="b6" type="button" style=background-color:white class="btn btn-secondary"><h id="bb6" style='font-size:14px;color:rgb(157,186,209)'>저상버스 접근가능</h></button>
                      <button id="b7" type="button" style=background-color:white class="btn btn-secondary"><h id="bb7" style=font-size:14px;color:rgb(157,186,209)>휠체어 대여</h></button>
                      <button id="b8" type="button" style=background-color:white class="btn btn-secondary"><h id="bb8" style=font-size:14px;color:rgb(157,186,209)>시각장애인 편의</h></button>
                    </div>
                  </div>
                  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group" style="position:absloute; left:75px">
                      <button id="b9" type="button" style=background-color:white class="btn btn-secondary"><h id="bb9" style=font-size:14px;color:rgb(157,186,209)>청각장애인 편의</h></button>
                      <button id="b10" type="button" style=background-color:white class="btn btn-secondary"><h id="bb10" style=font-size:14px;color:rgb(157,186,209)>수유실</h></button>
                      <button id="b11" type="button" style=background-color:white class="btn btn-secondary"><h id="bb11" style=font-size:14px;color:rgb(157,186,209)>장애인 객실</h></button>
                      <button id="b12" type="button" style=background-color:white class="btn btn-secondary"><h id="bb12" style='font-size:14px;color:rgb(157,186,209)'>유모차 대여</h></button>
                    </div>
                  </div>

                  <script>
              var Data = $('#my-data').data();
              Data = Data.other.replaceAll('\'','\"')
              Data = JSON.parse(Data)
              if(Data.help.indexOf("장애인 화장실") != -1)
                {
                    $("#b1").attr("style","background-color:rgb(157,186,209)");
                    $("#bb1").attr("style","font-size:14px;color:white");
                }
                else
                {
                    $("#b1").attr("style","background-color:white");
                    $("#bb1").attr("style","font-size:14px;color:rgb(157,186,209)");
                }
                
                if(Data.help.indexOf("장애인용 엘리베이터") != -1)
                {
                    $("#b2").attr("style","background-color:rgb(157,186,209)");
                    $("#bb2").attr("style","font-size:14px;color:white");
                }
                else
                {
                    $("#b2").attr("style","background-color:white");
                    $("#bb2").attr("style","font-size:14px;color:rgb(157,186,209)");
                }

                if(Data.help.indexOf("장애인 전용 주차구역") != -1)
                {
                    $("#b3").attr("style","background-color:rgb(157,186,209)");
                    $("#bb3").attr("style","font-size:14px;color:white");
                }
                else
                {
                    $("#b3").attr("style","background-color:white");
                    $("#bb3").attr("style","font-size:14px;color:rgb(157,186,209)");
                }

                if(Data.help.indexOf("주출입구 단차없음") != -1)
                {
                    $("#b4").attr("style","background-color:rgb(157,186,209)");
                    $("#bb4").attr("style","font-size:14px;color:white");
                }
                else
                {
                    $("#b4").attr("style","background-color:white");
                    $("#bb4").attr("style","font-size:14px;color:rgb(157,186,209)");
                }

                if(Data.help.indexOf("지하철 접근가능") != -1)
                {
                    $("#b5").attr("style","background-color:rgb(157,186,209)");
                    $("#bb5").attr("style","font-size:14px;color:white");
                }
                else
                {
                    $("#b5").attr("style","background-color:white");
                    $("#bb5").attr("style","font-size:14px;color:rgb(157,186,209)");
                }

                if(Data.help.indexOf("저상버스 접근가능") != -1)
                {
                    $("#b6").attr("style","background-color:rgb(157,186,209)");
                    $("#bb6").attr("style","font-size:14px;color:white");
                }
                else
                {
                    $("#b6").attr("style","background-color:white");
                    $("#bb6").attr("style","font-size:14px;color:rgb(157,186,209)");
                }

                if(Data.help.indexOf("휠체어 대여") != -1)
                {
                    $("#b7").attr("style","background-color:rgb(157,186,209)");
                    $("#bb7").attr("style","font-size:14px;color:white");
                }
                else
                {
                    $("#b7").attr("style","background-color:white");
                    $("#bb7").attr("style","font-size:14px;color:rgb(157,186,209)");
                }

                if(Data.help.indexOf("시각장애인 편의서비스") != -1)
                {
                    $("#b8").attr("style","background-color:rgb(157,186,209)");
                    $("#bb8").attr("style","font-size:14px;color:white");
                }
                else
                {
                    $("#b8").attr("style","background-color:white");
                    $("#bb8").attr("style","font-size:14px;color:rgb(157,186,209)");
                }

                if(Data.help.indexOf("청각장애인 편의서비스") != -1)
                {
                    $("#b9").attr("style","background-color:rgb(157,186,209)");
                    $("#bb9").attr("style","font-size:14px;color:white");
                }
                else
                {
                    $("#b9").attr("style","background-color:white");
                    $("#bb9").attr("style","font-size:14px;color:rgb(157,186,209)");
                }

                if(Data.help.indexOf("수유실") != -1)
                {
                    $("#b10").attr("style","background-color:rgb(157,186,209)");
                    $("#bb10").attr("style","font-size:14px;color:white");
                }
                else
                {
                    $("#b10").attr("style","background-color:white");
                    $("#bb10").attr("style","font-size:14px;color:rgb(157,186,209)");
                }

                if(Data.help.indexOf("장애인 객실") != -1)
                {
                    $("#b11").attr("style","background-color:rgb(157,186,209)");
                    $("#bb11").attr("style","font-size:14px;color:white");
                }
                else
                {
                    $("#b11").attr("style","background-color:white");
                    $("#bb11").attr("style","font-size:14px;color:rgb(157,186,209)");
                }

                if(Data.help.indexOf("유모차 대여") != -1)
                {
                    $("#b12").attr("style","background-color:rgb(157,186,209)");
                    $("#bb12").attr("style","font-size:14px;color:white");
                }
                else
                {
                    $("#b12").attr("style","background-color:white");
                    $("#bb12").attr("style","font-size:14px;color:rgb(157,186,209)");
                }

                  </script>
                <div class="compare-frame" style="position:relative; width: 587px; height: 300px; top: 15px;" >

                  <img id="wordcloudSrc" width="470" height="250" style="position:relative; top:25px;" src="https://fluffyword.s3.ap-northeast-2.amazonaws.com/숙소별+리뷰+워드클라우드/(주)척산온천휴양촌.jpg" onerror="sendError();">

                </div>
                <script>
                  var Data = $('#my-data').data();
                  Data = Data.other.replaceAll('\'','\"')
                  Data = JSON.parse(Data)
                  
                  url = "https://fluffyword.s3.ap-northeast-2.amazonaws.com/숙소별+리뷰+워드클라우드/"+Data.name.trimRight()+".jpg"
                  $("#wordcloudSrc").attr("src", url);
                  
                  function sendError() {
                    $("#wordcloudSrc").attr("src", "{{ url_for('static', filename='infopage_img/sorry.png')}}");

                    }
                </script>


                <div style="position: relative; top: 30px;">
                    <div class="card-columns">
                        <div class="card" style="width: 280px;">
                          <img class="card-img-top"  src="{{ url_for('static', filename='infopage_img/1.jpg')}}"  alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">
                              <img src="https://raw.githubusercontent.com/Jihun0224/KTO/master/flask/static/infopage_img/star.png">
                              <img src="https://raw.githubusercontent.com/Jihun0224/KTO/master/flask/static/infopage_img/star.png">
                              <img src="https://raw.githubusercontent.com/Jihun0224/KTO/master/flask/static/infopage_img/star.png">
                              <img src="https://raw.githubusercontent.com/Jihun0224/KTO/master/flask/static/infopage_img/star.png">
                              <img src="https://raw.githubusercontent.com/Jihun0224/KTO/master/flask/static/infopage_img/star.png">(5)</h5>
                            <p class="card-text" style="font-size: small;">여자친구랑 같이 둘이서 오붓한 시간을 보내고자 풀빌라를 찾아봤고, 제일 마음에 들어서 예약하게 되었습니다. 건물도 완전 깨끗하고 깔끔하고, 조리도구도 완벽하게 준비되어있어서 더 좋았습니다. 강원도라서 그런지 역시 공기가 맑고 마음이 정화가 되는 느낌이었습니다.</p>
                          </div>
                    </div>
                    <div class="card-columns">
                        <div class="card" style="width: 280px; margin-left: 100px;">
                          <img class="card-img-top"  src="{{ url_for('static', filename='infopage_img/3.jpg')}}" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">
                              <img src="https://raw.githubusercontent.com/Jihun0224/KTO/master/flask/static/infopage_img/star.png">
                              <img src="https://raw.githubusercontent.com/Jihun0224/KTO/master/flask/static/infopage_img/star.png">
                              <img src="https://raw.githubusercontent.com/Jihun0224/KTO/master/flask/static/infopage_img/star.png">
                              <img src="https://raw.githubusercontent.com/Jihun0224/KTO/master/flask/static/infopage_img/star.png">(4)</h5>
                            <p class="card-text" style="font-size: small;">
                              시설은 사진이랑 그대로에요! 앞에 산이 있어 운치있는 분위기네요.
                              다만 입실하고 나서 방 안에 쓰레기 같은게 있어서 청소가 미흡한 것 같다는 느낌이 있었고, 바닥이 타일인데 슬리퍼를 안신기에는 퍼석퍼석한 먼지 느낌이 났어요.
                              전기 그릴도 숯그릴 못지않게 잘돼서 좋았어요.</p>
                          </div>
                        </div>
                </div>           
            </ul>
        </div>
        <div class="mapinfo" id="map" style="width:495px; height:500px; margin-left: 30px;margin-bottom: 30px;">
          <div> 
          <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=37531866be664df9b26e2c034430dfc5"></script>
            <script>
              var Data = $('#my-data').data();
              Data = Data.other.replaceAll('\'','\"')
              Data = JSON.parse(Data)
                var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
                var options = { //지도를 생성할 때 필요한 기본 옵션
                    center: new kakao.maps.LatLng(Data.y, Data.x), //지도의 중심좌표.
                    level: 5 //지도의 레벨(확대, 축소 정도)
                };
                var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

                Initialization(map);
                displayMarker();
            </script>
            </div> 
            <div class="markerFilter" style="background-color: rgba(255, 255, 255, 0.75); height: 80px;">
              <div class="filterButtonBox">
                <button class="filterBtn filterhover" onclick=filterBtn(0)>
                  <img class="filterImg" src="{{ url_for('static', filename='infopage_img/four-dots.svg')}}" width="25px" height="25px">
                  <p>전체</p>
                </button>
                <button class="filterBtn filterhover" onclick=filterBtn(1)>
                  <img class="filterImg" src="{{ url_for('static', filename='infopage_img/hanok.svg')}}" width="25px" height="25px">
                  <p>한옥</p>
                </button>
                <button class="filterBtn filterhover" onclick=filterBtn(2)> 
                  <img class="filterImg" src="{{ url_for('static', filename='infopage_img/hotel.svg')}}" width="25px" height="25px">
                  <p>호텔</p>
                </button>
                <button class="filterBtn filterhover" onclick=filterBtn(3)>
                  <img class="filterImg" src="{{ url_for('static', filename='infopage_img/bb.svg')}}" width="25px" height="25px">
                  <p>민박</p>
                </button>
              </div>
            </div>
        </div>
        
        <div class="compare-frame" style="position:relative; margin-left:30px; top: 20px;" >
          <canvas id="myChart" style="z-index:2; width: 2px; height: 1px; position: relative; top: 25px; right: 120px;"></canvas>
          <canvas id="myChart_2" style="width: 2px; height: 1px; position: relative; top: -221px; left: 130px;"></canvas>

          <script>
            var Data = $('#my-data').data();
            Data = Data.other.replaceAll('\'','\"')
            Data = JSON.parse(Data)
            get_score(Data.name)
         </script>
        </div>

        <script>
          var Data = $('#my-data').data();
          Data = Data.other.replaceAll('\'','\"')
          Data = JSON.parse(Data)
          var address = Data.address.split(" ")[0]+" "+Data.address.split(" ")[1]
          get_recommend(address)
        </script>
        <div class="blog-card" style="position: relative; left: 30px; top: 30px;">
          <div class="meta">
            <div class="photo" id="firstCardImg"style="background-image: url(https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=806d3a5c-f4bf-4ad3-8c52-59ae5a988689)"></div>

          </div>
          <div class="description">
              <h1 id ="firstCardTitle">Name</h1>
              <h2 id="firstCardAddress">Address</h2>
              <p id="firstCardInfo" style=
                                          "overflow: hidden; 
                                          text-overflow: ellipsis; 
                                          display: -webkit-box; 
                                          -webkit-line-clamp: 7 ; 
                                          -webkit-box-orient: vertical; 
                                          word-wrap:break-word; 
                                          line-height: 1.2em; 
                                          height: 8.4em;">
                Info
              </p>
              </p>
               <p class="read-more">
              <a id="firstCardUrl" href="https://korean.visitkorea.or.kr/detail/ms_detail.do?cotid=36f54304-e9a8-4615-9226-eb749bf6ce75&big_category=A01&mid_category=A0101&big_area=6">내용 더보기</a>
            </p>
          </div>
        </div>
        

        <div class="blog-card alt" style="position: relative; left: 625px; top: 30px; width: 600px; height: 277px;">
          <div class="meta">
            <div class="photo" id="SecondCardImg"style="background-image: url(https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=6c84bfd1-89cd-419f-a669-535e6cb60813)"></div>

          </div>
          <div class="description">
            <h1 id ="SecondCardTitle">Name</h1>
            <h2 id="SecondCardAddress">Address</h2>
            <p id="SecondCardInfo" style=
                                        "overflow: hidden; 
                                        text-overflow: ellipsis; 
                                        display: -webkit-box; 
                                        -webkit-line-clamp: 7 ; 
                                        -webkit-box-orient: vertical; 
                                        word-wrap:break-word; 
                                        line-height: 1.2em; 
                                        height: 8.4em;">
              Info
            </p>

            <p class="read-more">
              <a id="SecondCardUrl"href="https://korean.visitkorea.or.kr/detail/ms_detail.do?cotid=98763dd6-119d-4e32-910e-a40652334bda&big_category=A01&mid_category=A0101&big_area=6">내용 더보기</a>
            </p>
          </div>
        </div>
  </div>
  
  <br>
  <br>
</body>