.info {
    text-align: center;
    padding:300px 0 100px 0
}

.input_group{
    font-size:20px;
    margin: auto;
}

.service_name{
    font-weight: bold
}

.frame{
    width:500px;
    margin: auto;
    padding: 53px;
    text-align: center;
    background-color: lightgray
}

.selectBox{
    width: 550px;
    margin: auto;
}

.keyword_group{
    margin: auto;
    text-align: center;
}

.label{
    text-align: center;
    margin: auto;
    width: 250px;
    font-size:18px;
    line-height:30px
}

.input{
    width:500px;
    margin: auto;
}

.bottom{
    padding: 10px;
    text-align: center;
}